<div class="card shadow mb-4 mt-4">
	<div class="card-header py-3">
		<a href="/admin/booking" class="btn btn-warning">Back</a>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<div class="card-body">
					<img
						src="http://localhost:3000/<%= booking.payments.proofPayment %>"
						alt="Image Item"
						style="width: 100%; display: block"
					/>
				</div>
				<% if(booking.payments.status == 'Process') { %>
				<div class="row justify-content-around">
					<form
						action="/admin/booking/<%= booking._id %>/confirmation?_method=PUT"
						method="POST"
					>
						<button type="submit" class="btn btn-success btn-sm">
							<i class="fas fa-check"></i>
							Confirm
						</button>
					</form>

					<form
						action="/admin/booking/<%= booking._id %>/reject?_method=PUT"
						method="POST"
					>
						<button type="submit" class="btn btn-danger btn-sm">
							<i class="fas fa-times"></i>
							Reject
						</button>
					</form>
				</div>
				<% } %>
			</div>
			<div class="col-md-8">
				<div class="table-responsive">
					<table
						class="table table-bordered"
						id="dataTableActivity"
						width="100%"
						cellspacing="0"
					>
						<thead>
							<tr>
								<th>Member Name</th>
								<th>Total</th>
								<th>Bank Name</th>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<%= booking.memberId.firstName %> <%=
									booking.memberId.lastName %>
								</td>
								<td>$ <%= booking.total %></td>
								<td><%= booking.payments.bankFrom %></td>
								<td><%= booking.itemId.title %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
